langchain
python-dotenv
langchain-pinecone
langchain_chroma
langchain_community
azure-identity
langchain_openai
pypdf
sentence_transformers
langchain_huggingface
streamlit==1.18.1
chromadb==0.4.0
pysqlite3==0.4.6  # Updated SQLite version
