langchain
python-dotenv
langchain-pinecone
langchain_chroma
langchain_community
azure-identity
langchain_openai
pypdf
sentence_transformers
langchain_huggingface
streamlit==1.18.1
chromadb==0.4.0
sqlite3==3.35.0
